@font-face {
    font-family: 'Basetica';
    src: url('/assets/fonts/Basetica/Basetica.otf') format('opentype');
    // font-weight: normal;
    // font-style: normal;
}

@font-face {
    font-family: 'Basetica Bold';
    src: url('/assets/fonts/Basetica/Basetica-Bold.otf') format('opentype');
    // font-weight: bold;
    // font-style: normal;
}

@font-face {
    font-family: 'Basetica Bolder';
    src: url('/assets/fonts/Basetica/Basetica-Bolder.otf') format('opentype');
}

@font-face {
    font-family: 'Basetica Bulb';
    src: url('/assets/fonts/Basetica/Basetica-Bulb.otf') format('opentype');
}

@font-face {
    font-family: 'Basetica Bulb Charcoal';
    src: url('/assets/fonts/Basetica/Basetica-Bulb-Charcoal.otf') format('opentype');
}

@font-face {
    font-family: 'Basetica Bulb Yellow';
    src: url('/assets/fonts/Basetica/Basetica-Bulb-Yellow.otf') format('opentype');
}

@font-face {
    font-family: 'Windsor';
    src: url('/assets/fonts/Windsor/Windsor.ttf') format('truetype');
}

@font-face {
    font-family: 'Windsor Bold';
    src: url('/assets/fonts/Windsor/Windsor-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Windsor Bold Condensed';
    src: url('/assets/fonts/Windsor/Windsor-Bold-Condensed.otf') format('opentype');
}

@font-face {
    font-family: 'Windsor Bolder';
    src: url('/assets/fonts/Windsor/Windsor-Bolder.otf') format('opentype');
}
