::ng-deep {
    app-button {
        &.btn-block {
            display: grid;
        }
        &.back-button {
            position: absolute;
            left: 20px;
            top: 20px;
        }
    }
}
